# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# dependencies
node_modules

# Next.js
.next/
out/

# compiled output
dist
*.tsbuildinfo

# env files
.env
.env*.local

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/coverage
npm-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

# Vercel
.vercel
